.ended-view {
    .cld-logo-with-text {
        width: 180px;
        height: 55px;
        display: inline-block;
    }

    .error-text {
        min-height: 100px;
    }
}

.read-more {
    background-color: rgba(112,114,158,0.3);
}